---
// @ts-nocheck
import { Image } from "astro:assets";
import Page from "../../components/page.astro";
import PageHeader from "../../components/PageHeader.astro";
import WorkBlock from "../../components/WorkBlock.astro";
import { siteConfig } from "../../config/site";
import { getArticles } from "../../library/newt";
const articles = await getArticles();
const recentNewtPosts = articles;
---

<Page>
  <div class="">
    <PageHeader />
    <div class="page-lead text-edging">
      <p class="text">
        これまで個人でつくったもの、<br />
        携わらせて頂いた案件の一部を載せていきます。<br />
        <span class="text__min">※所属企業での案件は記載していません。</span>
      </p>
    </div>
    <!-- <div class="page-header">
    <h1 class="page-header__en" data-text="memo">memo</h1>
    <div class="page-header__ja">
      <p>備忘録</p>
    </div>
  </div> -->
    <div class="post-list">
      {recentNewtPosts.map((article) => <WorkBlock article={article} />)}
    </div>
  </div>
  <style lang="scss">
    .post-list {
      margin-top: 10cqi;
      display: grid;
      gap: $size-smp12;
      // grid-template-columns: 1fr 1fr;
      @include mq {
        gap: $size-md12;
      }
    }
  </style>
</Page>
