
---
interface Props {
  href: string;
  text?: string;
}

const { href, text = "other More" } = Astro.props;
---

<a href={href} class="other-button">
  <span class="other-button__icon other-button__icon--in"></span>
  <span class="other-button__text">{text}</span>
  <span class="other-button__icon other-button__icon--out"></span>
</a>

<style lang="scss">
  @use '../../styles/_variables' as *;
  @use '../../styles/_mixins' as *;
  .other-button {
    width: fit-content;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.4rem;
    padding:  1rem 1rem 1rem 2rem;
    border: 2px solid currentColor;
    border-radius: 4rem;
    overflow: hidden;
    background: $white;
    transition: all 0.3s easing('in-out-sine');
    position: relative;
    @include hover{
      background: $black;
      .other-button__icon--in{
        translate: 30% 0;
      }
      .other-button__icon--out{
        translate: 130% 0;
      }
      .other-button__text{
        translate: 2.8rem 0;
        color: $white;

      }
    }
  }
  .other-button__text{
    font-size: 1.6rem;
    transition: all 0.3s easing('in-out-sine');
  }
  .other-button__icon{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    background: $black;
    width: 2.8rem;
    transition: all 0.3s easing('in-out-sine');

    &:before,
    &:after{
      content: '';
      position: absolute;
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
      aspect-ratio: 1 / 1.5;
      width: 30%;
      background: $white;;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &:before{
      z-index: 2;
      left: 60%;
    }
    &:after{
      opacity: .75;
      left: 45%;
    }
  }
  .other-button__icon--out{
  }
  .other-button__icon--in{
    position: absolute;
    translate: -140% 0;
    scale: 1.4;
  }

</style>
