@use 'sass:math';
@use "variables" as *;
@use "mixins" as *;

.text {
  line-height: 1.75;
  font-weight: 500;
  margin-block: calc((1em - 1lh) / 2);
  letter-spacing: 0.04em;
  font-size: $size-smp12;

  @include mq {
    font-size: $size-md14;
  }
}

.text--small {
  font-size: $size-smp10;

  @include mq {
    font-size: $size-md12;
  }
}

.text__min {
  font-size: $size-smp10;

  @include mq {
    font-size: $size-md12;
  }
}

.page-lead {
  margin-top: 10cqi;
  padding: 0 5cqi;
  text-align: center;
}

.hover-item {
  @include hover {
    .read-button {
      background: $black;

      .button-eye {
        &:before {
          left: 30%;
          animation: animBlinkBlack 0.3s forwards;
        }

        &:after {
          animation: animBlinkWhiet 0.3s forwards;
        }
      }

      .read-button__text {
        color: $white;
      }
    }
  }
}

.white {
  color: $white;
}

.image-fit-cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.border-block {
  border: var(--default-border);
  margin: 0 -8px;
  border-radius: 3cqi;
  position: relative;
  overflow: hidden;
}

.text-edging {
  font-weight: 700;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
    1px -1px 0 #fff, 0px 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;

  @include mq {
    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff,
      2px -2px 0 #fff, 0px 2px 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff,
      2px 0 0 #fff;
  }
}