@use 'sass:map';

// サイドマージン
$side-width: 30px;
$side-width-md: 128px;

// デザイン幅の設定
$design-width-value: 750;
$design-width-value-md: 1280;
$design-width: $design-width-value * 1px;
$design-width-md: $design-width-value-md * 1px;

// コンテナサイズ
$xsmall: $design-width * 0.5;
$small: $design-width * 0.5 * 1.125;
$medium: $design-width-md * 0.75;
$container: $design-width-md * 0.8125;
$large: $design-width-md;
$xlarge: $design-width-md * 1.125;

// ビューポートマージン
$margin-50vw: calc(50% - (var(--vw, 1vw) * 50));
$padding-50vw: calc((var(--vw, 1vw) * 50) - 50%);

// ブレイクポイント設定
$DESIGN_WIDTHS: (
  'mobile': 768px,
  'desktop': 1280px,
);

$BREAKPOINTS: (
  'small': map.get($DESIGN_WIDTHS, 'mobile') * 0.5 * 1.5,
  'medium': map.get($DESIGN_WIDTHS, 'desktop') * 0.75,
  'large': map.get($DESIGN_WIDTHS, 'desktop'),
  'xlarge': map.get($DESIGN_WIDTHS, 'desktop') * 1.25,
);

// ブレイクポイント変数
$mobile: map.get($DESIGN_WIDTHS, 'mobile');
$desktop: map.get($DESIGN_WIDTHS, 'desktop');
$small: map.get($BREAKPOINTS, 'small');
$medium: map.get($BREAKPOINTS, 'medium');
$large: map.get($BREAKPOINTS, 'large');
$xlarge: map.get($BREAKPOINTS, 'xlarge');

// カラー
$white: #fbfef9;
$black: #030014;
$gray: #7c7c7c;

// フォントサイズ
$size-md10: 1.2cqi; // 10pxくらいのサイズ
$size-md12: 1.5cqi; // 12pxくらいのサイズ
$size-md14: 1.8cqi; // 14pxくらいのサイズ
$size-md16: 2cqi; // 16pxくらいのサイズ
$size-md18: 2.3cqi; // 18pxくらいのサイズ
$size-md20: 2.6cqi; // 32pxくらいのサイズ
$size-md22: 2.9cqi; // 32pxくらいのサイズ
$size-md24: 3.2cqi; // 32pxくらいのサイズ
$size-md26: 3.5cqi; // 32pxくらいのサイズ
$size-md28: 3.8cqi; // 32pxくらいのサイズ
$size-md30: 3.1cqi; // 32pxくらいのサイズ
$size-md32: 3.5cqi; // 32pxくらいのサイズ
$size-md40: 5cqi; // 40pxくらいのサイズ
$size-md64: 8cqi; // 64pxくらいのサイズ
$size-md80: 10.2cqi; // 80pxくらいのサイズ
$size-md88: 11cqi; // 88pxくらいのサイズ
$size-md96: 15.5cqi; // 96pxくらいのサイズ

$size-smp10: 2.8cqi; // 10pxくらいのサイズ
$size-smp12: 3.2cqi; // 12pxくらいのサイズ
$size-smp14: 3.8cqi; // 14pxくらいのサイズ
$size-smp16: 4.4cqi; // 16pxくらいのサイズ
$size-smp18: 5cqi; // 18pxくらいのサイズ
$size-smp20: 5.6cqi; // 32pxくらいのサイズ
$size-smp22: 6.2cqi; // 32pxくらいのサイズ
$size-smp24: 6.8cqi; // 32pxくらいのサイズ
$size-smp26: 7.4cqi; // 32pxくらいのサイズ
$size-smp28: 8cqi; // 32pxくらいのサイズ
$size-smp30: 8.6cqi; // 32pxくらいのサイズ
$size-smp32: 9.2cqi; // 32pxくらいのサイズ
$size-smp40: 10.4cqi; // 40pxくらいのサイズ
$size-smp64: 16cqi; // 64pxくらいのサイズ
$size-smp80: 20.2cqi; // 80pxくらいのサイズ
$size-smp88: 22cqi; // 88pxくらいのサイズ
$size-smp96: 24.5cqi; // 96pxくらいのサイズ

// イージング https://easings.net/
$easings: (
  'in-sine': cubic-bezier(0.47, 0, 0.745, 0.715),
  'out-sine': cubic-bezier(0.39, 0.575, 0.565, 1),
  'in-out-sine': cubic-bezier(0.445, 0.05, 0.55, 0.95),
  'in-quad': cubic-bezier(0.55, 0.085, 0.68, 0.53),
  'out-quad': cubic-bezier(0.25, 0.46, 0.45, 0.94),
  'in-out-quad': cubic-bezier(0.455, 0.03, 0.515, 0.955),
  'in-cubic': cubic-bezier(0.55, 0.055, 0.675, 0.19),
  'out-cubic': cubic-bezier(0.215, 0.61, 0.355, 1),
  'in-out-cubic': cubic-bezier(0.645, 0.045, 0.355, 1),
  'in-quart': cubic-bezier(0.895, 0.03, 0.685, 0.22),
  'out-quart': cubic-bezier(0.165, 0.84, 0.44, 1),
  'in-out-quart': cubic-bezier(0.77, 0, 0.175, 1),
  'in-quint': cubic-bezier(0.755, 0.05, 0.855, 0.06),
  'out-quint': cubic-bezier(0.23, 1, 0.32, 1),
  'in-out-quint': cubic-bezier(0.86, 0, 0.07, 1),
  'in-expo': cubic-bezier(0.95, 0.05, 0.795, 0.035),
  'out-expo': cubic-bezier(0.19, 1, 0.22, 1),
  'in-out-expo': cubic-bezier(1, 0, 0, 1),
  'in-circ': cubic-bezier(0.6, 0.04, 0.98, 0.335),
  'out-circ': cubic-bezier(0.075, 0.82, 0.165, 1),
  'in-out-circ': cubic-bezier(0.785, 0.135, 0.15, 0.86),
  'in-back': cubic-bezier(0.6, -0.28, 0.735, 0.045),
  'out-back': cubic-bezier(0.175, 0.885, 0.32, 1.275),
  'in-out-back': cubic-bezier(0.68, -0.55, 0.265, 1.55),
);

// イージング取得用関数
@function easing($name) {
  @return map.get($easings, $name);
}

// こう使う
// .element {
//   transition: all 0.3s easing('out-expo');
// }

//

:root {
  --black: #{$black};
  --default-border: 4px solid #{$black};
}