---
import { Image } from 'astro:assets';
import Page from '../components/common/page.astro';
import PageHeader from '../components/common/PageHeader.astro';
import { generateMetadata } from '../config/site';

// const metadata = generateMetadata('about');
---
<Page>
  <div class="">
    <PageHeader >
  </div>
  <div class="about-wrap">

    <section class="border-block">
      <div class="about-headline">
        <span class="about-headline__circle"></span>
        <div class="about-headline__text">
          <p class="about-headline-en">profile</p>
          <h2 class="about-headline-label">プロフィール</h2>
        </div>
      </div>
      <div class="text about-text-wrap">
        <p>通販事業会社を2社経て職業訓練校に入校。
          ウェブデザイン関連の表面を撫でたのち、
          制作会社にてフロントエンド実務へ。</p>
        <p>現在は、都内の企業でコーダーとして働いています。
          cssやLottie、GSAPアニメーションが好きです。</p>
        <p>実務外では、デザインや音楽制作、2Dアニメーションや
          3DCGなどの制作活動を行っています。</p>
        <p>過去4年ほど兵庫県に住んでいたので、
          少し会話の中で関西弁が出ることがあります。</p>
      </div>
    </section>
    <section class="border-block">
      <div class="about-headline">
        <span class="about-headline__circle"></span>
        <div class="about-headline__text">
          <p class="about-headline-en">tools</p>
          <h2 class="about-headline-label">制作環境</h2>
        </div>
      </div>
      <div class="about-text-wrap">
        <section class="tool-block">
          <h3 class="about-tool-title">design</h3>
          <p class="text">Figma / DaVinci Resolve / Adobe AE / Adobe XD / blender</p>
        </section>
        <section class="tool-block">
          <h3 class="about-tool-title">development</h3>
          <p class="text">HTML5 / CSS3 / JavaScript / Vue.js / React.js / astro.js / STUDIO / WordPress / microCMS</p>
        </section>
        <section class="tool-block">
          <h3 class="about-tool-title">compose</h3>
          <p class="text">Logic Pro / M-Audio / Volt</p>
        </section>
      </div>
    </section>
    <!-- <section class="border-block">
      <div class="about-headline">
        <span class="about-headline__circle"></span>
        <div class="about-headline__text">
          <p class="about-headline-en">likes & ..</p>
          <h2 class="about-headline-label">好きなもの</h2>
        </div>
      </div>
      <div class="about-text-wrap">
        <section class="text-block">
          <h3 class="about-section-title">フロントエンド開発</h3>
          <p class="text">HTML/CSS/JavaScript等の言語を使用してのWebサイト実装をはじめ、必要に応じてWordPressやSTUDIO、microCMS等のCMSを使用します。
            フレームワーク系にも力を入れていきます。</p>
        </section>
        <section class="text-block">
          <h3 class="about-section-title">デザイン、アニメーション制作</h3>
          <p class="text">バナーやLP、会報誌や名刺のデザインなどの制作や、
            Aeを使用したアニメーション作成や3DCG、動画編集を行っています。
            Lottieアニメーション、楽しいです。</p>
        </section>
        <section class="text-block">
          <h3 class="about-section-title">音楽制作</h3>
          <p class="text">学生自体に楽器を甘噛みしていたこともあり、
            BGMや細々場面に応じた音楽の制作も小さく行っています。
            ちいさく。</p>
        </section>
      </div>
    </section> -->
  </div>

</Page>

<style lang="scss">
  @use '../styles/_variables' as *;
  @use '../styles/_mixins' as *;
  .about-wrap{
    display: grid;gap: 18cqi;
    margin-top: 16cqi;
  }
  .border-block{
    padding: 12cqi 5cqi 8cqi;
    background: $white;
    overflow: visible;
  }
  .about-headline{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2cqi;
    width: 100%;
    position: absolute;
    left: -8px;
    top: -7cqi;
  }
  .about-headline__circle{
    aspect-ratio: 1;
    border: var(--default-border);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    width: 12cqi;
    background: $white;
  }
  .about-headline__text{
    display: flex;
    background: $black;
    align-items: baseline;
    justify-content: space-between;
    padding:3cqi 6cqi 1cqi;
    width: 90cqi;
    // border: var(--default-border);
    border-radius: 8rem 0 0 8rem;
    // background: $white;
  }
  .about-headline-en{
    color: $white;
    font-size: 6.5cqi;
    font-weight: bold;
    -webkit-text-stroke: 1px $white;
    @include mq {
      -webkit-text-stroke: 2px $white;

    }
  }
  .about-headline-label{
    color: $white;
    font-size: $text20;
  }
  .about-text-wrap{
    display: grid;
    gap: 5cqi;
  }

  .about-section-title{
    font-size: $text18;
    margin-bottom: 3.6cqi;
  }
  .tool-block{
    display: grid;
    gap: 2.5cqi;
  }
  .about-tool-title{
    position: relative;
    z-index: 2;
    color: $white;
    font-size: $text24;
    padding: 1.5cqi 0 1cqi;
    &:before{
      content: '';
      background: $black;
      position: absolute;
      height: 100%;
      width: 50%;
      border-radius: 4rem;
      top: 0;
      left: -10%;
      z-index: -1;
    }
  }
</style>
