---
// src/components/navigation/Navigation.astro
import { Image } from "astro:assets";
import Memolink from "../components/MemoLink.astro";

import { getNavigationItems, siteConfig } from "../config/site.ts";
import contactOutline from "../../public/contact_outline.svg";
const navItems = getNavigationItems();

const currentPath = Astro.url.pathname;
const isMemoPage = currentPath.startsWith("/memo");
const isContactPage = currentPath.startsWith("/contact");
---

<div class="page-footer">
  {isMemoPage ? null : <Memolink />}
  {
    isContactPage ? null : (
      <section class="footer">
        <div class="footer-inner">
          <a href="/contact/" class="footer-contact">
            <div class="footer-contact__head">
              <h2 class="footer-contact-label split-type">Contact</h2>
              <p class="footer-contact-text">
                ご相談や雑談など、
                <br />
                お気軽にお声がけください
              </p>
            </div>
            <div class="footer-contact__body">
              <span class="footer-contact-icon">
                <Image
                  src={contactOutline}
                  alt=""
                  class="footer-contact-icon__bg"
                />
                <svg
                  class="footer-contact-icon__path"
                  viewBox="0 0 47 47"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.7699 20.882L1 15.1516L46 1L31.8484 46L22.5837 24.4163"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </div>
          </a>
          <div class="footer-flow">
            <div class="footer-marquee">
              <p class="footer-marquee__item footer-marquee__item--left">
                Feel free to reach out!&nbsp;
              </p>
              <p class="footer-marquee__item footer-marquee__item--left">
                Feel free to reach out&nbsp;
              </p>
            </div>
            <div class="footer-marquee">
              <p class="footer-marquee__item footer-marquee__item--right">
                Feel free to reach out&nbsp;
              </p>
              <p class="footer-marquee__item footer-marquee__item--right">
                Feel free to reach out&nbsp;
              </p>
            </div>
          </div>
        </div>
      </section>
    )
  }
</div>

<style lang="scss">
  .page-footer {
    margin-top: 24cqi;
    padding: $size-smp10;
    gap: $size-smp10;
    display: grid;
    @include mq {
      margin-top: 12cqi;
      padding: 1.2rem;
      gap: 1.2rem;
    }
  }
  .footer {
    position: relative;
  }
  .footer-inner {
    display: grid;
    background: $black;
    overflow: hidden;
    border-radius: 0.8rem;
    @include mq {
      border-radius: 0.8rem;
    }
  }
  .footer-contact {
    height: fit-content;
    position: relative;
    z-index: 2;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 6cqi 8cqi 6cqi;
    // display: grid;
    // grid-template-columns: 2.5fr 1fr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $size-md16;
    // justify-content: center;
    width: 100%;
    // margin: auto;
    @include hover {
      .footer-contact-label {
        color: $white;
      }
      .footer-contact-icon {
        background: $white;
      }
      .footer-contact-icon__bg {
        filter: contrast(1);
      }
    }
  }
  .footer-contact__head {
    display: grid;
    gap: $size-md16;
  }
  .footer-contact-label {
    font-size: $size-smp40;
    color: $white;
    font-weight: 600;
    margin-block: calc((1em - 1lh) / 2);
    letter-spacing: -0.06em;
    line-height: 1;
    // -webkit-text-stroke: 2px $white;
    paint-order: stroke;
    @include mq {
      font-size: $size-md80;
      -webkit-text-stroke: 4px $white;
      color: $black;
      transition: color 0.2s easing("in-out-sine");
    }
  }
  .footer-contact-text {
    text-align: center;
    font-size: $size-smp10;
    color: $white;
    line-height: 1.75;
    @include mq {
      font-size: $size-md16;
    }
  }
  .footer-contact-icon {
    display: grid;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    width: 20cqi;
    border-radius: 50%;
    margin-left: auto;
    background: $white;
    padding: 1cqi;
    @include mq {
      width: 16cqi;
      transition: background 0.2s easing("in-out-sine");
      background: $black;
    }
  }
  .footer-contact-icon__bg {
    grid-column: 1/2;
    grid-row: 1/2;
    aspect-ratio: 1;
    width: 100%;
    margin: auto;
    animation: rotationInf 10s linear infinite;
    @include mq {
      filter: contrast(0);
      transition: filter 0.2s easing("in-out-sine");
    }
    @keyframes rotationInf {
      to {
        rotate: -360deg;
      }
    }
  }
  .footer-contact-icon__path {
    margin: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    aspect-ratio: 1;
    width: 5.5cqi;
  }
  .footer-flow {
    grid-column: 1/2;
    grid-row: 1/2;
    // background: $white;
    // padding: 1cqi 0;
    display: grid;
    gap: 4cqi;
    overflow: hidden;
  }
  .footer-marquee {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    z-index: 1;
    &:first-child {
      transform: rotateX(180deg);
      transform-origin: center center;
    }
  }
  .footer-marquee__item {
    filter: contrast(0.5);
    font-size: 18cqi;
    word-break: keep-all;
    aspect-ratio: 522/24;
    white-space: nowrap;
    font-weight: bold;
    line-height: 0.75;
    letter-spacing: -0.05em;
    // margin-block: calc((1em - 1lh) / 2);
    text-shadow:
      1px 1px 0 $black,
      -1px -1px 0 $black,
      -1px 1px 0 $black,
      1px -1px 0 $black,
      0px 1px 0 $black,
      0 -1px 0 $black,
      -1px 0 0 $black,
      1px 0 0 $black;
  }
  .footer-marquee__item--right {
    transform: translateX(-100%);
  }
  .footer-copy {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: calc(2cqi + 6px) 0 20cqi;
    border-top: 4px solid $white;
    background: $black;

    @include mq {
      padding: calc(2cqi + 6px) 0 2cqi;
    }
  }
  .footer-copy__text {
    color: $white;
    font-size: $size-md12;
    letter-spacing: 0.05em;
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  function initMarquee() {
    gsap.registerPlugin(ScrollTrigger);

    const wrapper = document.querySelectorAll(".footer-marquee");
    wrapper.forEach((wrapperItem) => {
      if (!wrapper) return;

      const marqueeConfig = [
        {
          selector: ".footer-marquee__item--left",
          direction: -100,
          duration: 30,
          ease: "none",
        },
        {
          selector: ".footer-marquee__item--right",
          direction: 100,
          duration: 30,
          ease: "none",
        },
      ];

      marqueeConfig.forEach(({ selector, direction, duration, ease }) => {
        const items = wrapperItem.querySelectorAll(selector);
        if (!items.length) return;

        gsap.to(items, {
          duration,
          xPercent: direction,
          ease,
          repeat: -1,
          scrollTrigger: {
            trigger: wrapper,
            start: "top bottom",
            toggleActions: "play none none none",
          },
        });
      });
    });
  }

  initMarquee();
</script>
